---
import Page from "../layouts/Page.astro";
---

<Page title="About Me">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum animi harum
    ratione officiis, quisquam explicabo iste autem, sapiente, quo hic
    reiciendis quia distinctio. Dolores ipsam nulla cumque qui nihil aliquid.
  </p>
</Page>
