---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

import CollectionList from "../components/CollectionList.tsx";
import NewsletterItem from "../components/NewsletterItem.tsx";

const allNewsletterEntries = await getCollection("newsletter", ({ data }) => {
  return import.meta.env.PROD ? data.isDraft !== true : true;
});
const selectedNewsletterEntries = allNewsletterEntries.slice(0, 3);
---

<Layout title="ðŸ‘‹ Welcome | Liam Walsh">
  <section>
    <main class="space-y-1 p-4">
      <h1 class="text-3xl font-bold">Mission driven statement</h1>
      <p>Benefit driven description for the newsletter</p>
      <!-- Newsletter embed -->
    </main>
    <aside>
      <picture>
        <source src="https://placebear.com/1800/900" />
        <img src="https://placebear.com/1800/900" alt="ðŸ»" />
      </picture>
    </aside>
  </section>

  <section class="bg-slate-200 p-4">
    <h2>Previous newsletters</h2>

    <CollectionList
      entries={selectedNewsletterEntries}
      entryComponent={NewsletterItem}
    />
  </section>

  <section class="p-4 text-center">
    <h2 class="mb-2 text-2xl font-bold">Here's how I can help you! ðŸ«µ</h2>
    <!-- YouTube Trailer -->
  </section>
</Layout>
