---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Hi 👋 welcome to my site. I'm Liam</h1>
    <p>Watch this space...</p>
  </main>
</Layout>

<style>
  main {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 500;
    margin: auto;
    max-width: calc(60ch * (1 / 1.5));
    padding: 1.5rem;
    text-shadow: -2px -2px 1px rgb(var(--colour-red-ryb));
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
