---
import Layout from "../layouts/Layout.astro";
---

<Layout title="👋 Welcome | Liam Walsh">
  <main>
    <h1>Hi 👋 welcome to my site. I'm Liam</h1>
    <p>Watch this space...</p>
  </main>
</Layout>
