---
import { getCollection } from "astro:content";
const newsletterEntries = await getCollection("newsletter", ({ data }) => {
  return import.meta.env.PROD ? data.isDraft !== true : true;
});
---

<ul>
  {
    newsletterEntries.map((newsletterEntry) => (
      <li>
        <a href={`/newsletter/${newsletterEntry.slug}`}>
          {newsletterEntry.data.title}
        </a>
        <time datetime={newsletterEntry.data.publishDate.toISOString()}>
          {newsletterEntry.data.publishDate.toDateString()}
        </time>
      </li>
    ))
  }
</ul>
