---
import { getCollection } from "astro:content";

import CollectionList from "../components/CollectionList.astro";
import NewsletterItem from "../components/NewsletterItem.astro";
import Layout from "../layouts/Layout.astro";

const newsletterEntries = await getCollection("newsletter", ({ data }) => {
  return import.meta.env.PROD ? data.isDraft !== true : true;
});
---

<Layout description="" title="All Newsletters">
  <div class="lg:mx-auto lg:max-w-screen-xl">
    <header class="prose p-8 sm:p-12">
      <h1>All Newsletters</h1>
      <p>
        A free newsletter every Saturday morning where I share my knowledge and
        expertise in software engineering to help other engineers to build a
        healthier and wealthier long term career.
      </p>
    </header>
  </div>

  <main class="p-8 sm:p-12 lg:mx-auto lg:max-w-screen-xl">
    <h2 class="mb-4 text-2xl font-semibold sm:mb-8">Previous newsletters</h2>

    <CollectionList
      entries={newsletterEntries}
      renderComponent={NewsletterItem}
    />
  </main>
</Layout>
