---
import { getCollection } from "astro:content";

import CollectionList from "../components/CollectionList.astro";
import ProjectItem from "../components/ProjectItem.astro";
import Layout from "../layouts/Layout.astro";

const projectEntries = await getCollection("project", ({ data }) => {
  return import.meta.env.PROD ? data.isDraft !== true : true;
});
---

<Layout title="All Projects">
  <header class="space-y-1 p-4">
    <h1 class="text-3xl font-bold">All Projects</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni omnis, rem
      harum necessitatibus ipsam excepturi, fuga assumenda nesciunt iusto
      repellendus saepe earum quasi consectetur reprehenderit atque itaque
      dolore? Perferendis, ab!
    </p>
  </header>

  <main class="p-4">
    <h2 class="mb-2 text-2xl font-semibold">Previous newsletters</h2>

    <CollectionList entries={projectEntries} renderComponent={ProjectItem} />
  </main>
</Layout>
