---
import { getCollection } from "astro:content";

import CollectionList from "../components/CollectionList.astro";
import ProjectItem from "../components/ProjectItem.astro";
import Layout from "../layouts/Layout.astro";

const projectEntries = await getCollection("project", ({ data }) => {
  return import.meta.env.PROD ? data.isDraft !== true : true;
});
---

<Layout description="" title="All Projects">
  <div class="lg:mx-auto lg:max-w-screen-xl">
    <header class="prose p-4 sm:p-8">
      <h1>All My Projects</h1>
      <p>
        Here's a full list of all the projects I've built. They're all open
        source (GitHub repo links provided) and all of them I've built live on
        stream (playlist links added). Feel free to fork, browse and copy these.
        Learn from the them and watch the livestreams and full cut videos to
        learn from mistakes I make so you don't have to.
      </p>
    </header>
  </div>

  <main class="p-4 sm:p-8 lg:mx-auto lg:max-w-screen-xl">
    <h2 class="mb-2 text-2xl font-semibold sm:mb-4">Previous newsletters</h2>

    <CollectionList entries={projectEntries} renderComponent={ProjectItem} />
  </main>
</Layout>
