---
import { getCollection } from "astro:content";

import CollectionList from "../components/CollectionList.astro";
import ProjectItem from "../components/ProjectItem.astro";
import Layout from "../layouts/Layout.astro";

const projectEntries = await getCollection("project", ({ data }) => {
  return import.meta.env.PROD ? data.isDraft !== true : true;
});
---

<Layout title="All Projects">
  <header class="space-y-1 p-4 sm:p-8 lg:mx-auto lg:max-w-screen-xl">
    <div class="max-w-xl">
      <h1 class="text-3xl font-bold">All Projects</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni omnis,
        rem harum necessitatibus ipsam excepturi, fuga assumenda nesciunt iusto
        repellendus saepe earum quasi consectetur reprehenderit atque itaque
        dolore? Perferendis, ab!
      </p>
    </div>
  </header>

  <main class="p-4 sm:p-8 lg:mx-auto lg:max-w-screen-xl">
    <h2 class="mb-2 text-2xl font-semibold sm:mb-4">Previous newsletters</h2>

    <CollectionList entries={projectEntries} renderComponent={ProjectItem} />
  </main>
</Layout>
