---
import { SOCIALS_ARRAY } from "../constants";
import NewsletterForm from "./NewsletterForm";
---

<footer>
  <div class="bg-background">
    <section
      class="space-y-8 p-8 sm:grid sm:grid-cols-2 sm:space-y-0 sm:p-12 lg:mx-auto lg:max-w-screen-xl"
    >
      <main>
        <h3 class="mb-4 text-xl font-bold">Connect with me on</h3>
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS_ARRAY.map((social) => (
              <li>
                <a
                  class="inline-block rounded-lg bg-accent px-3 py-2"
                  href={social.link}
                >
                  {social.platformName} {social.icon}
                </a>
              </li>
            ))
          }
        </ul>
      </main>
      <aside>
        <h3 class="mb-4 max-w-md text-xl font-bold">
          Free weekly newsletter for the the healthier, wealthier, long term
          developers
        </h3>
        <NewsletterForm />
      </aside>
    </section>
  </div>

  <section class="space-y-4 p-8 text-center">
    <ul class="flex flex-row flex-nowrap justify-center space-x-6">
      <li><a class="font-semibold" href="/">Home</a></li>
      <li><a class="font-semibold" href="/sitemap-index.xml">Sitemap</a></li>
    </ul>

    <p class="font-semibold italic">
      ©️ {new Date().getFullYear()} Walsh Ventures LTD
    </p>

    <div class="mx-auto">
      <a
        class="inline-block"
        href="https://dashboard.simpleanalytics.com/liamwalsh.tech?utm_source=liamwalsh.tech&utm_content=badge"
        referrerpolicy="origin"
        target="_blank"
        ><picture
          ><source
            srcset="https://simpleanalyticsbadges.com/liamwalsh.tech?mode=dark"
            media="(prefers-color-scheme: dark)"
          /><img
            src="https://simpleanalyticsbadges.com/liamwalsh.tech?mode=light"
            loading="lazy"
            referrerpolicy="no-referrer"
            crossorigin="anonymous"
            alt="Simple Analytics Badge"
          /></picture
        ></a
      >
    </div>
  </section>
</footer>
