<header class="p-4">
  <nav>
    <ul class="flex flex-row flex-nowrap justify-center space-x-6">
      <li class="text-center">
        <a href="/newsletters">Newsletters</a>
      </li>
      <li class="text-center"><a href="/projects">Projects</a></li>
      <li class="text-center"><a href="/about-me">About Me</a></li>
      <li class="text-center"><a href="/now">Now</a></li>
    </ul>
  </nav>
</header>
