<header class="p-2">
  <nav>
    <ul class="flex flex-row flex-nowrap justify-center p-2">
      <li><a href="/newsletters">Newsletters</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about-me">About Me</a></li>
      <li><a href="/now">Now</a></li>
    </ul>
  </nav>
</header>
