<header class="p-4">
  <nav>
    <ul class="flex flex-row flex-nowrap justify-center space-x-6">
      <li class="text-center">
        <a class="font-semibold" href="/newsletters">Newsletters</a>
      </li>
      <li class="text-center">
        <a class="font-semibold" href="/projects">Projects</a>
      </li>
      <li class="text-center">
        <a class="font-semibold" href="/about-me">About Me</a>
      </li>
      <li class="text-center"><a class="font-semibold" href="/now">Now</a></li>
    </ul>
  </nav>
</header>
