---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script>
      import { Analytics } from "analytics";
      import googleTagManager from "@analytics/google-tag-manager";

      const analytics = Analytics({
        app: "LiamWalshTech",
        plugins: [
          // @ts-ignore
          googleTagManager({
            containerId: "GTM-P6WPM4M",
          }),
        ],
      });

      analytics.page();
    </script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/newsletters">Newsletters</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/about-me">About Me</a></li>
          <li><a href="/now">Now</a></li>
        </ul>
      </nav>
    </header>

    <slot />

    <footer>
      <main>
        <h3>Connect with me on</h3>
        <ul>
          <!-- TODO: Map over social links constant -->
        </ul>
      </main>
      <aside></aside>
    </footer>
  </body>
</html>
