---
import Footer from "../components/Footer.astro";
import GoogleTagManager from "../components/GoogleTagManager.astro";
import Header from "../components/Header.astro";
import MetaTags from "../components/MetaTags.astro";
import fullMetaTitle from "../utils/fullMetaTitle";

export interface Props {
  description: string;
  image?: ImageMetadata;
  title: string;
}

const { description, image, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <MetaTags
      description={description}
      title={fullMetaTitle(title)}
      pageUrl={Astro.url.pathname}
      image={image}
    />
    <GoogleTagManager />
  </head>
  <body>
    <Header />

    <slot />

    <Footer />
  </body>
</html>
