---
import Footer from "../components/Footer.astro";
import GoogleTagManager from "../components/GoogleTagManager.astro";
import Header from "../components/Header.astro";
import MetaTags from "../components/MetaTags.astro";
import fullMetaTitle from "../utils/fullMetaTitle";

export interface Props {
  description: string;
  metaTitle: string;
  title: string;
}

const { description, metaTitle, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <MetaTags description={description} title={fullMetaTitle(metaTitle)} />
    <GoogleTagManager />
  </head>
  <body>
    <Header />

    <article>
      <header class="bg-primary p-8 sm:p-12 lg:p-10 lg:py-20">
        <div class="prose mx-auto text-center">
          <h1>{title}</h1>
        </div>
      </header>
      <main class="prose mx-auto p-8 sm:p-12">
        <slot />
      </main>
    </article>

    <Footer />
  </body>
</html>
